### SQLite 데이터 베이스 Python으로 접속

In [ ]:
import sqlite3
import os

In [ ]:
from google.colab import drive
# 구글 드라이브 마운트.
drive.mount('/content/drive')  # 절차를 따라서 한다

In [ ]:
# 현 폴더의 위치를 보여준다.
!pwd        # Linux

In [ ]:
# 작업 폴더로 이동한다.
# 데이터 파일은 이미 올려져 있어야 한다.
os.chdir("/content/drive/MyDrive/GwangjuAI/notebook/")

In [ ]:
# 현 폴더의 위치를 보여준다.
!pwd

In [ ]:
# 현 폴더의 내용을 보여준다.
!ls

#### 테이블 내용 가져와 보기:

In [ ]:
# SQLite 에 연결 & Cursor 생성.
os.chdir("../database/")
conn = sqlite3.connect("world.db")
cur = conn.cursor()

In [ ]:
# MySQL 행 가져오기.
sql = "SELECT Name, Code, Region, Population FROM Country ORDER BY Population DESC;"
cur.execute(sql);
res = cur.fetchall()

In [ ]:
# 자료형은 List of tuples.
print(type(res))
print(type(res[0]))

In [ ]:
for x in res:
    print(x)

In [ ]:
conn.close()

#### 테이블 생성, 행 삽입, 출력, 테이블 삭제:

In [ ]:
# SQLite 에 연결 & Cursor 생성.
os.chdir("../database")
conn = sqlite3.connect("scratch.db")
cur = conn.cursor()

In [ ]:
# MySQL 테이블 생성.
sql = "CREATE TABLE IF NOT EXISTS test ( a INT, b TEXT, c TEXT );"
cur.execute(sql);
conn.commit();

In [ ]:
# "test" 테이블에 행 추가.
sql = "INSERT INTO test VALUES ( ?, ?, ? );"      # ?를 placeholder로 사용!
x = [1, "Hello", "World"]                        # 삽입될 내용.
cur.execute(sql,x);                                # 실행!
conn.commit();

In [ ]:
# "test" 테이블에 행 계속 추가.
sqls = ["INSERT INTO test VALUES ( 2, 'This', 'Right here!' );", 
        "INSERT INTO test ( b, c ) VALUES ( 'That', 'Over there!' );",
        "INSERT INTO test ( a, b, c ) SELECT id, name, description FROM item;"] 
for a_sql in sqls:
    cur.execute(a_sql);
    conn.commit();

In [ ]:
# 테이블 내용 보기.
sql = "SELECT * FROM test"
cur.execute(sql);
res = cur.fetchall()
for x in res:
    print(x)

In [ ]:
sql = "DROP TABLE test;"
cur.execute(sql);
conn.commit()

In [ ]:
conn.close()